
@media (max-width: 767px) {
	.col-6 {
		float: left;
		width: 50%;
	}

	.header {
		background-size: cover;
	}

	.partners {
		.partners-logo {
			margin-bottom: 30px;
		}
	}
}

@media (max-width:500px) {
	h1 {
		font-size: 36px;
	}

	.section {
		padding: 40px 0;
	}

	.header {
		padding: 60px 0 100px;
		//background-size: cover;

		.header-content {
			h1 {
				font-size: 44px;
			}
			h3 {
				font-size: 18px;
			}
			.btn {
				padding: 13px 80px;
			}
		}
	}

	.section-1 {
		h1 {
			text-align: right;
			margin-top: 60px;
		}
		p {
			font-size: 16px;
			text-align: right;
		}
		.video {
			iframe {
				height: 400px;
			}
		}
	}

	.section-2 {
		.section-2-bg {
			width: 100%;
			top: -78px;
		}
	}

	.location {
		.loc-col,
		.loc-logo {
			max-width: 100%;
			margin-bottom: 40px;
		}

		.section-title {
			p {
				font-size: 20px;
			}
		}
		.loc-col {
			p {
				font-size: 20px;
			}
		}
	}

	.partners {
		.partners-logo {
			width: 120px;
		}
	}

	.tickets {
		.tickets-bg {
			width: 100%;
		}
		.ticket {
			margin-bottom: 30px;
			padding: 30px;
		}
	}

	.footer {
		.copyright {
			p {
				text-align: center;
			}
		}
	}
}